@import "control";

.adventurer-pass {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    .loading {
        display: none;
        z-index: 11000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0e0f12;
        &[v-cloak] {
            display: block;
        }
    }
    &-body {
        flex: 1;
        display: flex;
        width: 100%;
        height: 100%;
    }
    &-content {
        flex: 1;
        height: 100%;
        overflow: hidden;
    }
    &-scroll {
        width: 105%;
        height: 100%;
        padding-right: 5%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
    .quick-nav {
        .align(v-center);
        width: 30px;
        height: 100%;
        &.touching {
            background-color: rgba(0, 0, 0, .2);
        }
        > li {
            width: 100%;
            height: 30px;
            padding: 5px;
            > span {
                .align(center);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                font-weight: bold;
                font-size: 12px;
                color: #1a1a1a;
                pointer-events: none;
                &.active {
                    background-color: rgba(0, 0, 0, .3);
                }
            }
        }
    }
    &-title {
        .align(v-center);
        .split-line();
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border-left: 4px solid #1a1a1a;
        background-color: #fff;
        font-weight: bold;
        font-size: 14px;
        color: #1a1a1a;
    }
    &-icon {
        display: flex;
        width: 100%;
        height: 100px;
        >  div {
            flex: 1;
            background-size: 60px;
            background-repeat: no-repeat;
            background-position: center bottom 16px;
        }
        &-free {
            background-image: url(//cdn.max-c.com/wiki/755790/adventurer-pass-first-free-icon.png);
        }
        &-fees {
            background-image: url(//cdn.max-c.com/wiki/755790/adventurer-pass-first-fees-icon.png);
        }
    }
    &-list {
        width: 100%;
        > li {
            display: flex;
            width: 100%;
            min-height: 88px;
            > div {
                .align(v-center);
                flex: 1;
                padding: 10px;
                &.adventurer-pass-list-free {
                    padding-right: 20px;
                    .adventurer-pass-list-item {
                        &::after {
                            content: '';
                            right: -5px;
                            border-width: 6px 0 6px 6px;
                            border-color: transparent transparent transparent #1a1a1a;
                        }
                        &.array > div > p,
                        > p {
                            .align(right);
                            padding-right: 10px;
                        }
                    }
                }
                &.adventurer-pass-list-fees {
                    padding-left: 20px;
                    .adventurer-pass-list-item {
                        &::before {
                            content: '';
                            left: -5px;
                            border-width: 6px 6px 6px 0;
                            border-color: transparent #1a1a1a transparent transparent;
                        }
                        &.array > div > p,
                        > p {
                            padding-left: 10px;
                        }
                    }
                }
                .adventurer-pass-list-item {
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: 68px;
                    padding: 10px;
                    border-radius: 4px;
                    background-color: #1a1a1a;
                    &::before,
                    &::after {
                        .absolute(m);
                        width: 0;
                        height: 0;
                        border-style: solid;
                    }
                    &.array {
                        display: block;
                        height: auto;
                        > div {
                            display: flex;
                            width: 100%;
                            height: 48px;
                            &:not(:last-of-type) {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    &.array > div .img,
                    .img {
                        display: block;
                        width: 48px;
                        height: 48px;
                        background-size: 48px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    &.array > div > p,
                    > p {
                        .align(v-center);
                        flex: 1;
                        font-size: 12px;
                        color: #fff;
                    }
                }
            }
            > p {
                position: relative;
                width: 2px;
                background-color: #1a1a1a;
                > span {
                    .align(center);
                    .absolute(m);
                    left: -12px;
                    width: 26px;
                    height: 26px;
                    border: 2px solid #1a1a1a;
                    border-radius: 50%;
                    background-color: #fff;
                    font-weight: bold;
                    font-size: 12px;
                    color: #1a1a1a;
                }
            }
        }
    }
    &-popup {
        z-index: 15000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &-bg {
            z-index: 1;
            background-color: rgba(255,255,255,.55);
            transition: opacity .3s;
        }
        &-content {
            z-index: 2;
            .adventurer-pass-detail {
                .clear-float();
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                min-height: 116px;
                padding: 10px 10px 10px 116px;
                background-color: #1a1a1a;
                transition: none .3s;
                transition-property: opacity, transform;
                > img {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 96px;
                }
                &-desc {
                    .align(v-center);
                    width: 100%;
                    min-height: 96px;
                    color: #fff;
                    > h5 {
                        width: 100%;
                        font-weight: normal;
                        font-size: 16px;
                    }
                    > p {
                        width: 100%;
                        margin-top: 20px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .fade-enter-active,
    .fade-leave-active {
        opacity: 1;
        transition: opacity .3s;
        .adventurer-pass-popup-bg {
            opacity: 1;
        }
        .adventurer-pass-detail {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .fade-enter,
    .fade-leave-to {
        opacity: 1;
        .adventurer-pass-popup-bg {
            opacity: 0;
        }
        .adventurer-pass-detail {
            opacity: 0;
            transform: translate3d(0, 100px, 0);
        }
    }
    &-begin,
    &-end {
        position: relative;
        width: 100%;
        padding: 0 10px 10px;
        > p {
            .absolute(c);
            width: 2px;
            height: 10px;
            background-color: #1a1a1a;
        }
        .line {
            display: flex;
            width: 100%;
            height: 8px;
            > span {
                width: 8px;
                height: 100%;
                margin: 0 4px;
                border-radius: 50%;
                background-color: #1a1a1a;
            }
            > em {
                position: relative;
                flex: 1;
                height: 100%;
                &::before {
                    .absolute(m);
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: #1a1a1a;
                }
            }
        }
    }
    &-begin {
        height: 18px;
        > p {
            bottom: 0;
        }
    }
    &-end {
        height: 60px;
        padding-top: 10px;
        > p {
            top: 0;
        }
        .author {
            .align(center);
            width: 100%;
            height: 32px;
            font-size: 14px;
            color: #1a1a1a;
            > span {
                text-decoration: underline;
                color: #1a1a1a !important;
            }
        }
    }
}